<div class="accordion accordion-flush" id="accordionFlushExample">

  {{#each @model.menucategories as |menu|}}
    <div class="accordion-item">
      <h2 class="accordion-header" id = {{concat "flush-heading_" menu.id}}>
        <button class="accordion-button collapsed" type="button" {{on "click" (fn this.fetchitems menu.id)}} data-bs-toggle="collapse" data-bs-target={{concat "#flush-collapse_" menu.id}} aria-expanded="false" aria-controls={{concat "flush-collapse_" menu.id}}>
          {{menu.name}} {{menu.id}}
        </button>
      </h2>
      <div id={{concat "flush-collapse_" menu.id}} class="accordion-collapse collapse" aria-labelledby={{concat "flush-heading_" menu.id}} data-bs-parent="#accordionFlushExample">
        <div class="accordion-body">
          {{#each this.menuitems as |item|}}
            <ul class="list-unstyled">
              <li class="text-black fw-bold">{{item.name}}</li>
              <li class="text-black">Description: {{item.description}}</li>
              <button type="button" {{on "click" (fn this.AddtoCart menu.id item.id)}} class="btn btn-info float-end">Add to cart</button>
              <li class="text-black">Price: &#8377;{{item.price}}</li>
            </ul>
            {{!-- {{item.name}} {{item.description}} {{item.price}} 
            <button type="button" {{on "click" (fn this.AddtoCart menu.id item.id)}} class="btn btn-info">Add to cart</button> --}}
            <hr>
          {{/each}}
        </div>
      </div>
    </div>
  {{/each}}

</div>

<button type="button" {{on "click" this.redirect}} class="btn btn-info">Checkout</button>
{{outlet}}