<Header/>
<h2 class="title_order">Orders</h2>
<div class="ordersContainer mb-5">
{{#each @model.orders as |order|}}
  <button type="button" {{on "click" (fn this.fetchitems order.id order.user_id)}} class="btn btn-primary btn_order mt-3" data-mdb-toggle="modal" data-mdb-target={{concat "#Modal_" order.id}}>
    <div class="d-flex flex-column order_wt">
      <div class="p-1">Order No: {{order.id}}</div>
      <div class="p-1">Customer id: {{order.user_id}}</div>
      <div class="p-1">Date: {{order.date}}</div> 
      <div class="p-2"><mark id={{concat "status_" order.id}}>{{order.status}}</mark></div>
    </div>
  </button>

  <div class="modal fade" id={{concat "Modal_" order.id}} tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title itemname_weight" id="exampleModalLabel">Thanks for ordering</h5>
          <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <ul class="list-unstyled">
              <li class="text-black">Customer: {{this.username}}</li>
              <li class="text-muted mt-1"><span class="text-black">Order No </span> #{{order.id}}</li>
              <li class="text-black mt-1">{{order.date}}</li>
            </ul>
          </div>
          {{#each this.items as |item|}}
            <hr>
            <div class="row">
              <div class="col-xl-10">
                <p>{{item.menu_item_name}} ({{item.quantity}})</p>
              </div>
              <div class="col-xl-2">
                <p class="float-end">&#8377;{{item.menu_item_price}}</p>
              </div>
            </div>
          {{/each}}
          <hr>
          <p class="float-end itemname_weight">Total: &#8377;{{this.total}}</p>
          {{#unless this.isorderpending}}
            {{#if @model.isCustomer}}
              {{#unless this.isfeedbackgiven}}
                <div class="pt-5 mt-5">
                {{#unless this.isfeedbacksaved}}
                  <p class="txt_weight m-3">Leave feedback about this order</p>
                  <div class="m-3 pt-2">
                    <i id={{concat (concat "star_" order.id) 1}} class="fa fa-star clickable" {{on "click" this.star}}></i>
                    <i id={{concat (concat "star_" order.id) 2}} class="fa fa-star clickable" {{on "click" this.star}}></i>
                    <i id={{concat (concat "star_" order.id) 3}} class="fa fa-star clickable" {{on "click" this.star}}></i>
                    <i id={{concat (concat "star_" order.id) 4}} class="fa fa-star clickable" {{on "click" this.star}}></i>
                    <i id={{concat (concat "star_" order.id) 5}} class="fa fa-star clickable" {{on "click" this.star}}></i>
                  </div>
                  <form>
                    <div class="form-outline m-3 pt-2 mb-4">
                      <textarea class="form-control" id="{{concat "textarea_" order.id}}" rows="4"></textarea>
                      <label class="form-label" for="form3Example1cg">Describe your experience</label>
                    </div>
                    <script>
                      document.querySelectorAll('.form-outline').forEach((formOutline) => {
                      new mdb.Input(formOutline).init();
                      });
                    </script>
                  </form>
                  <center><button type="button" {{on "click" (fn this.savefeedback order.id)}} class="btn btn-primary mb-2">Submit feedback</button></center>
                {{/unless}}
                {{#if this.isfeedbacksaved}}
                  <center><p class="text-success fs-10 mt-2 mb-1 txt_weight">Thanks for your feedback</p></center>
                {{/if}}
                </div>
              {{/unless}}
            {{/if}}
          {{/unless}}

          {{#if @model.isOwner}}
            {{#if this.isfeedbackgiven}}
              <div class="pt-5 mt-5">
                <p class="txt_weight fs-5 m-3">Customer feedback about this order</p>
                <div class="m-3 pt-2">
                  {{#each this.filledstar}}
                    <i class="fa fa-star clicked"></i>
                  {{/each}}
                  {{#each this.blankstar}}
                    <i class="fa fa-star blankstar"></i>
                  {{/each}}
                </div>
                <p class="m-3">{{order.experience}}</p>
              </div>
            {{/if}}
          {{/if}}
        </div>
        {{#if this.isorderpending}}
          {{#unless @model.isCustomer}}
            <div class="modal-footer">
              <div class="form-check checkbox">
                <input class="form-check-input" type="checkbox" value="" id={{concat "flexCheckDefault_" order.id}}>
                <label class="form-check-label" for={{concat "flexCheckDefault_" order.id}}>
                  Mark as delivered
                </label>
              </div>
              <button type="button" {{on "click" (fn this.save order.id)}} class="btn btn-primary">Save</button>   
            </div>
          {{/unless}}
        {{else}}
          <div class="modal-footer">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="" id="flexCheckCheckedDisabled" checked disabled>
              <label class="form-check-label" for="flexCheckCheckedDisabled">
                Delivered
              </label>
            </div>
          </div>
        {{/if}}
      </div>
    </div>
  </div>
{{/each}}
</div>
{{outlet}}