<div class="mask d-flex align-items-center h-100">
  <div class="container h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-9 col-lg-7 col-xl-6">
        <div class="card">
          <div class="card-body p-5">
            <h2 class="text-uppercase text-center mb-5">Create an account</h2>

            <form>
              <div class="mb-4">
                <div class="form-outline">
                  <Input type="text" @value={{this.first_name}} class="form-control form-control-lg" required/>
                  <label class="form-label" for="form3Example1cg">First Name</label>
                </div>
                {{#if this.invalid_firstname}}
                  <p class="text-danger fs-6 txt_weight">First name is required</p>
                {{/if}}
              </div>
              
              <div class="form-outline mb-4">
                <Input type="text" @value={{this.last_name}} class="form-control form-control-lg" />
                <label class="form-label" for="form3Example1cg">Last Name</label>
              </div>

              <div class="mb-4">
                <div class="form-outline">
                  <Input type="email" @value={{this.email}} class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example3cg">Email</label>
                </div>
                {{#if this.invalid_email}}
                  <p class="text-danger fs-6 txt_weight">Invalid email</p>
                {{/if}}
                {{#if this.is_emailregistered}}
                  <p class="text-danger fs-6 txt_weight">Email is already registered</p>
                {{/if}}
              </div>

              <div class="mb-4">
                <div class="form-outline">
                  <Input type="password" @value={{this.password}} class="form-control form-control-lg" />
                  <label class="form-label" for="form3Example4cg">Password</label>
                </div>
                {{#if this.invalid_password}}
                  <p class="text-danger fs-6 txt_weight">Password should be minimum of length 6</p>
                {{/if}}
              </div>
              <Inputoutline/>

              <div class="d-flex justify-content-center">
                <button type="button" {{on "click" this.createuser}}
                  class="btn btn-primary btn-block btn-lg text-white">Sign up</button>
              </div>

              <p class="text-center text-muted mt-5 mb-0">Already have an account? 
                <a href="/signin" class="fw-bold text-body"><u>Sign in</u></a>
              </p>
            </form>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{{outlet}}